<%- include('../navbar.ejs'), { session } %>
<div class="seccion-container column-center">

<div id="profile-container" class="column-center" >
<form action="/user/edit" method="POST" class="signup-form profile-form box-container">
    <div class="profile-title">
        <button id="image-profile"><img class="image-profile" src="<%= user.image %>" alt="profile-image" class="profile-image"></button> 
        <label for="username" class="profile-username">
            <button data-name="username" class="edit"><h1 data-value="username"><%= user.username %></h1></button>
            <h1 class="h1-profile"><input type="text" name="username" id="username" value="<%= user.username %>"></h1>
            <button id="edit-btn">Edit Profile</button>
        </label>
    </div>
    <div class="profile-body">
        <label for="email">
            <p>Email: </p><button data-name="email" class="edit" ><p data-value="email"><%= user.email %></p></button>
            <input type="email" name="email" id="email" value="<%= user.email %>">
        </label>
        <label for="age">
            <p>Age: </p><button data-name="age" class="edit"><p data-value="age"><%= user.age %></p></button>
            <input type="number" name="age" id="age" value="<%= user.age %>">
        </label>
        <label for="occupation">
            <p>Occupation: </p><button data-name="occupation" class="edit"><p data-value="occupation"><%= user.occupation %></p></button>
            <select name="occupation" id="occupation">
                <option name="occupation" id="bartender" value="bartender"> bartender
                <option name="occupation" id="bartender" value="barmanager"> barmanager
                <option name="occupation" id="bartender" value="barback"> barback
                <option name="occupation" id="bartender" value="owner"> owner
                <option name="occupation" id="bartender" value="client"> client
                <option name="occupation" id="bartender" value="student"> student
                <option name="occupation" id="bartender" value="other"> other
            </select>
        </label>
        <label for="city">
            <p>City: </p><button data-name="city" class="edit"><p  data-value="city"><%= user.city %></p> </button>
            <input type="text" name="city" id="city" value="<%= user.city %>">
        </label>
        <label for="bio">
            <p>Add Bio: </p><button data-name="bio" class="edit"><p  data-value="bio"><%= user.bio %></p></button>
            <textarea cols="40" rows="6" type="text" name="bio" id="bio" value="<%= user.bio %>"></textarea>
        </label>
    </div>
    <div class="btn-container">
        <button id="delete">DELETE</button>
        <button type="submit" id="form-btn" id="save-changes" class="btn-box index-btn login-btn">Save Changes</button>
    </div>
</form>
<dialog class="delete-container">
    <div class="delete">
        <h4>Delete Profile</h4>
        <div class="btn-container">
        <form method="dialog">
            <button value="cancel">Cancel</button>
        </form>
        <form action="/user/delete" method="GET">
            <button class="error-message">DELETE</button>
        </form>
        </div>
    </div>
</dialog>
<dialog class="image-edit">
    <div class="delete">
        <input type="file" name="image" id="image">
        <div class="btn-container">
            <form action="/user/edit" method="POST">
                <button data-name="image" class="edit" type="submit">Save</button> 
            </form>
            <form method="dialog">
                <button value="cancel">Cancel</button>
            </form>
        </div>
    </div>
</dialog>
</div>
</div>
