<%- include('../navbar.ejs'), { session } %>
<div class="seccion-container column-center profile-seccion">

<div id="profile-container" class="column-center" >
    <div class="profile-head">
        <div class="profile-username">
            <div>
                <img src="<%= user.image %>" alt="profile-image" class="profile-image">
            </div>
            <h1 class="profile-username"><%= user.username %></h1>
        </div>
        <div class="btn-edit-container">
            <a class="edit-btn" href="/user/editUser"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
    </div>
    <div class="user-info">
        <div>
            <p><%= user.city %></p>
            <p><%= user.occupation %></p>
        </div>
        <p><%= user.bio %></p>
    </div>
<div class="profile-body">
  <div class="cocktails-profile-display">
    <div class='user-cocktails'>
      <% if (user.creations.length != 0) %> <% user.creations.forEach(cocktail => { %> <%- include('../partials/recipe-card', {cocktail , page }) %> <% }) %>
    </div>
    <div class="api-cocktails" >
      <% if (cocktailsApi.length != 0) %>  <% cocktailsApi.forEach((cocktail) => { %> <%- include('../partials/recipe-card', {cocktail , page }) %> <% }) %>
    </div>
  </div>  
</div>
</div>
</div>
</div>
