<%- include('../navbar.ejs'), { session } %>
<div class="seccion-container column-center">

<h1>Cocktails personal database</h1>

<% if (!cocktails.length) { %> There is nothing in the DB <% } %> <% cocktails.forEach(cocktail => { %>
<div style="border: 1px solid black; margin: 1rem; padding: 1rem">
  <h4>Cocktail Name:<%=cocktail.name%></h4>
  <p>Garnish: <%=cocktail.garnish%></p>
  <ul> Ingredients:
    <% cocktail.ingredients.forEach(ingredient => { %>
    <li><%= ingredient %></li>
    <% }) %>
  </ul>
  <p>Serving Glass: <%=cocktail.servingGlass%></p>
  <p>Description: <%=cocktail.description%></p>
  <a href="./<%- cocktail._id %>/modify">Modify</a>
  <a href="./<%- cocktail._id %>/delete">Delete</a>
</div>
<% }) %>

</div>
